.container {
  height: auto;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 800px;
}
/* About */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 2;
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hrTitle {
  margin-bottom: 20px;
  border-bottom: 3px solid #d1411e;
  width: 22%;
}

.content {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
  line-height: 24px;
  letter-spacing: 1px;
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Question */
.question {
  display: flex;
  flex-direction: column;
  flex: 3;
  background-color: #f9fafb;
  padding: 20px;
  height: auto;
}

.questionTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.Hr {
  margin: 20px 0px;
  border-bottom: 3px solid #e5e7eb;
  width: 100%;
}

.questionWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.questionContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contentLeft {
  width: 90%;
}

.contentHeading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contentBody {
  font-size: 18px;
}

.contentRight {
  margin-right: 20px;
  font-size: 24px;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}
