.alertDanger {
  padding: 20px;
  width: 500px;
  align-items: center;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  background-color: rgb(211, 50, 50);
  color: white;
}

.alertSuccess {
  padding: 20px;
  width: 500px;
  align-items: center;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  color: #155724;
  background: #d4edda;
}
