.containerAdmin {
  height: calc(30vh - 100px);
  background-color: #111;
  display: flex;
  margin-top: 50px;
  padding: 20px 0px;
  border-top: 1px solid #e4e3e3;
}

.container {
  height: calc(60vh - 100px);
  background-color: #111;
  display: flex;
  margin-top: 50px;
  padding: 20px 0px;
  border-top: 1px solid #e4e3e3;
}
.item {
  flex: 1;
  position: relative;
  display: flex;
}
.item:first-child {
  margin: 30px;
}

.item:last-child {
  flex: 2;
  padding: 50px;
  justify-content: space-between;
}

.card {
  flex: 1;
  padding: 0 20px;
}

.card:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 1rem;
}

.text {
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
}

.motto {
  color: #fff;
  font-size: 24px;
}

.info {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.info:last-child {
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}
