.container {
  height: calc(100vh - 100px);
  padding: 50px;
  display: flex;
  position: relative;
}

.alertContainer {
  position: absolute;
  top: 20px;
  left: 600px;
  z-index: 999;
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1;
  padding: 20px;
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
  margin-bottom: 100px;
  margin-left: 50px;
}

/* Right */

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4px;
}

.category {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}

.price {
  font-size: 24px;
  font-weight: 500;
}

.desc {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 60%;
  font-size: 18px;
  line-height: 22px;
}

/* Sizeing */

.choose {
  font-weight: normal;
  margin-bottom: 20px;
}

.filterContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.sizes {
  appearance: none;
  font-size: 18px;
  font-weight: 300;
  height: 50px;
  width: 120px;
  border: 1px solid #000;
  border-radius: 6px;
  margin: 4px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.active {
  appearance: none;
  font-size: 18px;
  font-weight: 300;
  height: 50px;
  width: 120px;
  border: 1px solid #000;
  border-radius: 6px;
  margin: 4px;
  color: white;
  background-color: #000;
  cursor: pointer;
  text-align: center;
}

.size {
  display: none;
}

.stockContainer {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  margin-bottom: 20px;
}

.selectQuantity {
  padding: 10px;
  padding-right: 20px;
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.outOfStock {
  margin-top: 50px;
  margin-left: 50px;
  padding: 10px;
  padding-left: 20px;
  color: white;
  background-color: #dc0a0a;
  width: 40%;
}

/* Qty and Button */

.button {
  padding: 20px;
  width: 47%;
  background-color: #111111;
  font-size: 16px;
  border-radius: 30px;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
